.main {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.board {
    display: flex;
    width: 50%;
    min-height: 80%;
    position: relative;
}

.board-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    min-height: 80%;
}

.board-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.board-head .block {
    padding: .6em 1.5em;
    text-align: center;
    background: none;
    border: 1px solid var(--d2fd);
    color: var(--dark);
    position: relative;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: var(--l2fd);
    border: 1px solid var(--d2d);
    /* color: var(--dark); */
    font-size: .625rem;
    padding: .6em 1em;
    border-radius: .15em;
    bottom: 110%;
}


/* .bet-count .tooltip, */

.ctrl.insurance .tooltip {
    bottom: 110%;
    position: absolute;
}

.block:hover .tooltip,

/* .bet-count:hover .tooltip, */

.insurance:hover .tooltip {
    visibility: visible;
}

.board .icon {
    width: 1rem;
    height: 1rem;
}

.board-body {
    height: 100%;
    border-radius: .15em;
    padding: 2em 1em;
    background-color: var(--l2fd);
    border: 1px solid var(--d2d);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.5em;
    align-items: center;
    overflow: hidden;
}

.board-body .watermark {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3em;
    color: var(--d2d);
    opacity: 60%;
}

.board-body .watermark span {
    font-weight: 800;
    font-size: 2rem;
    /* text-transform: lowercase; */
}

.board-body .watermark span.insurance {
    font-size: 1.5rem;
}

.board-body .watermark span.dealer {
    font-size: 1rem;
}

.board-body .hands {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.board-body .hand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.board-body .hand.active .card {
    background-color: var(--d2d);
    border-color: var(--fd);
    color: var(--l2l);
}

.board-body .hand.active .card .icon {
    fill: var(--primary);
    fill: var(--l2l);
    stroke: var(--l2l);
}

.board-body .hand.active .card .face-value {
    color: var(--l2l);
}

.board-body .hand .count {
    font-weight: 800;
    color: var(--d2d);
}

.board-body .hand .bet {
    font-size: .75rem;
    font-weight: 700;
    color: var(--d2d);
}

.board-body .hand.statued .cards {
    opacity: 40%;
}

.board-body .hand.statued .status {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    font-size: .87rem !important;
    font-weight: 900;
    font-size: 1rem;
    color: var(--d2l);
}

.board-body .hand .cards {
    display: flex;
    align-items: center;
    margin-left: 4.8em;
}

.board-body .hand .card {
    width: 80px;
    display: flex;
    flex-direction: column;
    background-color: var(--l2fd);
    margin-left: -4.2em;
    padding: .8em;
    border: 1px solid var(--d2d);
    border-radius: .2em;
    transform: rotate(3deg);
    cursor: grab;
}

.board-body .hand.unplayed .card {
    transform: rotate(0);
    cursor: grab;
}

.cards .card:nth-child(1) {
    transform: rotate(-3deg);
}

.card .face-value {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 800;
    color: var(--d2d);
}

.card .face-value span.lwr {
    margin-left: auto;
    transform: rotate(180deg);
}

.card .suit-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suit-icon .icon {
    width: 70%;
    height: auto;
    fill: var(--d2d);
    stroke: var(--d2d);
}

.suit-icon .icon.theme-2 {
    fill: none;
    stroke: var(--d2d);
}

.board-actions {
    position: absolute;
    align-self: center;
    left: 103%;
    height: 100%;
    padding: 2em 0;
    gap: 5em;
    display: flex;
    flex-direction: column;
}

.board-actions .inner-actions,
.top-board-actions {
    display: flex;
    flex-direction: column;
    gap: .8em;
    flex-wrap: wrap;
}

.board-actions .ctrl.bet-count,
.ctrl.insurance {
    cursor: default;
    background-color: var(--l2fd);
    border: 1px solid var(--d2fd);
    color: var(--dark);
    position: relative;
}

.ctrl.insurance {
    font-size: .625rem;
}

.board-actions .inner-actions .ctrl {
    background-color: var(--primary);
    border: 1px solid var(--d2fd);
    color: var(--dark);
    flex-grow: 1;
}

.board-actions .inner-actions .ctrl:hover {
    background-color: var(--d2fd);
    color: var(--l2l);
}

.ctrl.action-btn {
    margin-top: auto;
}

@media screen and (max-width:1280px) {
    .board {
        width: 70%;
    }
    .board-body {
        gap: 4em;
    }
}

@media screen and (max-width:1024px) {
    .board-body {
        gap: 1.5em;
    }
}

@media screen and (max-width:912px) {
    .board {
        width: 80%;
        flex-direction: column;
        gap: 40px;
    }
    .board-body {
        gap: 10em;
    }
    .board-actions {
        position: relative;
        left: 0;
        gap: 1em;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }
    .board-actions .inner-actions {
        flex-direction: row;
    }
}

@media screen and (max-width:896px) and (min-width:612px) {
    .board {
        flex-direction: row;
        align-items: center;
        width: 70%;
        min-height: 0%;
        gap: 20px;
    }
    .board-body {
        gap: 1em;
        padding: 1em;
    }
    .board-head .block,
    .board-actions .ctrl {
        font-size: .625rem;
    }
    .board-body .watermark span {
        font-size: 1.5rem;
    }
    .board-body .hand .cards {
        margin-left: 4.4em;
    }
    .board-body .hand .card {
        width: 60px;
        margin-left: -4.4em;
    }
    .board-body .hand .card {
        font-size: .625rem;
    }
    .board-actions {
        position: absolute;
        left: 102%;
        height: 100%;
        /* gap: 2em; */
        width: fit-content;
        justify-content: space-between;
        flex-direction: column;
    }
    .board-actions .inner-actions {
        flex-direction: column;
    }
}

@media screen and (max-width:540px) {
    .board {
        width: 96%;
        gap: 4px;
    }
    .board-body {
        gap: 1.5em;
    }
    .board-actions {
        flex-direction: column;
        gap: .8em;
    }
    .ctrl.action-btn {
        padding: 1.4em;
    }
}

@media screen and (max-width:414px) {
    .board {
        width: 100%;
    }
    .board-head {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }
    .board-body {
        padding: 2em .5em;
        gap: 4em;
    }
    .board-head .block {
        flex-grow: 1;
    }
    .board-body .watermark span {
        font-size: 1.5rem;
    }
    .board-body .hand .card {
        width: 70px;
    }
    .board-body .hands.player {
        justify-content: space-around
    }
}

@media screen and (max-width:380px) {
    .board-head,
    .board-actions {
        gap: .6em;
    }
    .board-body {
        padding: 1em .5em;
        gap: 2em;
    }
    .board-actions .ctrl.bet-count {
        display: none;
    }
}