/* MODAL GENERAL */

.modal-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: var(--overlay);
    display: flex;
    justify-content: center;
    padding: 5em;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: scroll;
    /* align-items: center; */
}

.modal {
    width: fit-content;
    height: fit-content;
    padding: 2em;
    border: 1px solid var(--d2d);
    border-radius: .15em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--l2fd);
}

.modal-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 1em;
    background-color: var(--primary);
    border: 1px solid var(--d2d);
    border-radius: .15em;
}

.modal-body .amount {
    margin-left: auto;
    font-weight: 800;
}

.modal-header {
    display: flex;
    align-items: center;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.close-modal {
    margin-left: auto;
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
}


/* ICON THEME MODAL */

.modal.icon-theme-modal .modal-body {
    padding: 0;
    gap: 0;
    background-color: var(--l2fd);
    /* border: 1px solid var(--dark); */
}


/* .modal.icon-theme-modal, */

.display-name-modal,
.reset-password-modal,
.place-bet-modal {
    /* display: none; */
    align-self: center;
}

.icon-theme {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .8em;
    cursor: pointer;
    /* border-radius: .15em; */
    transition: .1s;
}

.icon-theme:hover,
.icon-theme.active {
    background-color: var(--d2d);
}

.icon-theme:hover .icon,
.icon-theme.active .icon {
    fill: var(--l2l);
    /* stroke: var(--l2l); */
}

.icon-theme .icon {
    height: 4rem;
    width: 4rem;
}

.icon-theme.theme-2 .icon {
    fill: none;
    stroke: var(--d2l) !important;
}

.icon-theme.theme-2:hover .icon,
.icon-theme.theme-2.active .icon {
    stroke: var(--l2l) !important;
}

.modal-footer span {
    font-size: .75rem;
    font-weight: 600;
}


/* SCOREBOARD MODAL */

.score-nav,
.place-bet-modal .bet-form .prev-bets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.score-nav-item,
.place-bet-modal .bet-form .prev-bets .bet-pill {
    padding: .5em .75em;
    border: 1px solid var(--d2d);
    border-radius: .15em;
    font-size: .75rem;
    cursor: pointer;
}

.score-nav-item.active {
    color: var(--primary);
    background-color: var(--d2l);
}

.score-modal .modal-body .score-item,
.history-item {
    display: flex;
    align-items: baseline;
    padding: .3em 0;
    gap: 8px;
}

.score-modal .modal-body .amount {
    margin-left: 6em;
}

.score-modal .modal-body .score-item .country {
    font-size: .625rem;
}


/* HELP MODAL */

.help-modal .modal-body {
    width: 600px;
    background-color: var(--l2fd);
    border-color: var(--l2fd);
    gap: 20px;
}

.help-modal .paragraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.help-modal .paragraph p {
    font-weight: 500;
}


/* SIGN UP/SIGN IN MODAL */

.sign-up-modal .modal-body,
.display-name-modal .modal-body {
    gap: 25px;
    align-items: center;
    background: none;
    padding: 0;
    border: none;
}

.google-signup,
.guest,
.signup-btn {
    width: 100%;
}

.guest,
.signup-btn {
    padding: 1em;
}

.google-signup .icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--primary);
}

.guest {
    background: none;
    border: 1px solid var(--d2d);
    color: var(--d2l);
}

.guest:hover {
    background-color: var(--d2d);
    color: var(--l2l);
}

.sign-up-modal .modal-footer {
    width: 100%;
}

.alt-text,
.error {
    max-width: 32em;
    text-align: center;
}

.error {
    color: tomato;
}

.email-form,
.bet-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    padding: .8em;
    border-radius: .15em;
    outline: none;
    border: 1px solid var(--d2d);
    background-color: var(--l2fd);
    color: var(--d2l);
    width: 30em;
}

.form-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.alt-text,
.error,
.form-fields span,
.form-footer span {
    font-size: .75rem;
}

.form-footer span .alt-sign,
.pass {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}


/* Place Bet Modal */

.place-bet-modal .modal-body {
    border: none;
    padding: 2em 1em;
    background-color: var(--l2fd);
}

.place-bet-modal .bet-form span.balance {
    text-align: center;
}

.place-bet-modal .form-input {
    width: 24em;
}

.place-bet {
    width: 100%;
    min-width: 24em;
}

.place-bet-modal .bet-form .prev-bets {
    width: 23em;
    justify-content: space-evenly;
    gap: .5em;
    flex-wrap: wrap;
}

.place-bet-modal .bet-form .prev-bets .bet-pill {
    background-color: var(--l2d);
    color: var(--d2l);
}

@media screen and (max-width:912px) {
    .help-modal .modal {
        width: 96%;
    }
    .help-modal .modal-body {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width:540px) {
    .help-modal .modal-body {
        width: 420px;
    }
}

@media screen and (max-width:414px) {
    .modal-overlay {
        padding: 3em 1em;
    }
    .modal {
        width: 96%;
    }
    .score-nav {
        gap: 0;
    }
    .place-bet {
        min-width: 100%;
    }
    .form-input {
        width: 100% !important;
    }
    .place-bet-modal .bet-form .prev-bets {
        width: 100%;
        justify-content: space-around;
    }
}